nav{
  height: 200px;
  background-color: #fff275;
}
main{

  background-color:#ff3c38;
  height: 2000px;
  margin:0;

}
.logo{
padding-right: 200px;
}
p{
font-family:'Fira Sans Condensed', sans-serif;;
font-size:30px;
font-color:red;

}
aside{
height: 200px;
background-color: #ff8c42;

}
.tt{
  margin-right: 100px;
  margin-top: 100px;
}
.por{
  margin-right: 100px;
  margin-top: 100px;
}
.sm{
  margin-right: 100px;
  margin-top: 100px;
}
footer{
height: 100px;
background-color: #000000;

}

.nota{
  height: 100px;
  background-color:red; 
}
