nav{
  height: 200px;
  background-color: #fff275;
}
main{

  background-color:#ff3c38;
  height: 2000px;
  margin:0;

}
.logo{
padding-right: 200px;
}
p{
font-family:'Fira Sans Condensed', sans-serif;;
font-size:30px;
font-color:red;

}
aside{
height: 200px;
background-color: #ff8c42;

}
.tt{
  margin-right: 100px;
  margin-top: 100px;
}
.por{
  margin-right: 100px;
  margin-top: 100px;
}
.sm{
  margin-right: 100px;
  margin-top: 100px;
}
footer{
height: 100px;
background-color: #000000;

}

.nota{
  height: 100px;
}

.pnd{



}


.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://i.pinimg.com/564x/0e/ac/f4/0eacf40501556df85e14089ebd4e0c1f.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}





#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}
